@import "compass";
@import "compass/reset";


/* variables */

$pink: #ff7cc6;
$dark_grey: #3c3c3c;
$light_blue: #4e8fe9;
$red: #ff5858;
$yellow: #f2e900;
$green: #54bf42;

/* typography */

h1, h2, p {
  font-family: monospace;
}

h1 {
  font-size: 30px;
  color: $pink;
}

p {
  margin-bottom: 10px;
  line-height: 18px;
}

p, span {
  font-size: 14px;
  color: $dark_grey;
}

a {
  color: $light_blue;
}


/* page styling */

body, html {
  height: 100%;
}

a {
  text-decoration: none;
}

div.wrapper {
  width: 100%;
  height: 10px;
  min-height: 100%;
  background: white;

/* header stuff */
  > header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 50px;
    background: $dark_grey;

    div.content {
      width: 768px;
      margin: 0 auto;

      > h1 {
        margin-top: 6px;
      }
    }
  }

  /* main page styling */
  > div.content {
    padding-top: 100px;
    max-width: 768px;
    margin: 0 auto;
  }
}