@import "compass";
@import "compass/reset";

/* general styling */
html, body {
  height: 100%;
}

div.padding {
  width: 100%;
  height: 100px;
}

/* typography */

h1 {
  font-family: monospace;
  color: black;
  font-size: 30px;
}

div.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: pink;
  overflow: auto;

  div.top-content {
    width: 768px;
    margin: 0 auto;

    h1 {
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    div.terminal_window {
      height: 600px;
      width: 100%;
    }
  }
}