/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* variables */
/* typography */
/* line 16, ../sass/screen.scss */
h1, h2, p {
  font-family: monospace;
}

/* line 20, ../sass/screen.scss */
h1 {
  font-size: 30px;
  color: #ff7cc6;
}

/* line 25, ../sass/screen.scss */
h2 {
  font-size: 20px;
  color: #3c3c3c;
  margin: 0 0 10px 0;
}

/* line 31, ../sass/screen.scss */
p {
  margin-bottom: 10px;
  line-height: 18px;
}

/* line 36, ../sass/screen.scss */
p, span {
  font-size: 14px;
  color: #3c3c3c;
}

/* line 41, ../sass/screen.scss */
a {
  color: #4e8fe9;
}

/* span thingies */
/* line 47, ../sass/screen.scss */
span.pink {
  color: #ff7cc6;
}
/* line 50, ../sass/screen.scss */
span.blue {
  color: #4e8fe9;
}
/* line 53, ../sass/screen.scss */
span.red {
  color: #ff5858;
}
/* line 56, ../sass/screen.scss */
span.yellow {
  color: #f2e900;
}
/* line 59, ../sass/screen.scss */
span.green {
  color: #54bf42;
}

/* page styling */
/* line 66, ../sass/screen.scss */
body, html {
  height: 100%;
}

/* line 70, ../sass/screen.scss */
a {
  text-decoration: none;
}

/* line 74, ../sass/screen.scss */
div.wrapper {
  width: 100%;
  height: 10px;
  min-height: 100%;
  background: white;
  /* header stuff */
  /* main page styling */
}
/* line 81, ../sass/screen.scss */
div.wrapper > header {
  width: 100%;
  position: absolute;
  top: 0;
  height: 50px;
  background: #3c3c3c;
  /* header trim */
}
/* line 89, ../sass/screen.scss */
div.wrapper > header:after {
  content: '';
  width: 100%;
  height: 8px;
  background: #787878;
  position: absolute;
  top: 50px;
}
/* line 98, ../sass/screen.scss */
div.wrapper > header div.content {
  width: 768px;
  margin: 0 auto;
}
/* line 102, ../sass/screen.scss */
div.wrapper > header div.content > h1 {
  margin-top: 6px;
}
/* line 109, ../sass/screen.scss */
div.wrapper > div.content {
  padding-top: 100px;
  max-width: 768px;
  margin: 0 auto;
}
/* line 114, ../sass/screen.scss */
div.wrapper > div.content div.skills, div.wrapper > div.content div.work, div.wrapper > div.content div.contact, div.wrapper > div.content div.picture {
  margin-top: 40px;
}
/* line 118, ../sass/screen.scss */
div.wrapper > div.content div.picture {
  padding-bottom: 50px;
}
/* line 121, ../sass/screen.scss */
div.wrapper > div.content div.picture > figure {
  width: 245px;
  height: 230px;
  background: url(../images/me_mug.png);
  margin: 0 auto;
  margin-bottom: 10px;
}
